<form action="/names" method="Post">
  <div class="">
    <label for="p1_name">P1 Name</label>
    <input type="text" name="p1_name" value="">
  </div>

  <div class="">
    <label for="p2_name">P2 Name</label>
    <input type="text" name="p2_name" value="">
  </div>

  <div class="">
    <label for="start_button">Start the Game!</label>
    <input id="start_button" type="submit" name="start_button" value="">
  </div>

  
</form>
