<form action="/names" method="post">
  <div class="">
    <label for="p1_name">P1 Name</label>
    <input type="text" name="p1_name" value="">
  </div>

  <div class="">
    <label for="p2_name">P2 Name</label>
    <input type="text" name="p2_name" value="">
  </div>

  <div class="">
    <input id="submit_names" type="submit" name="submit_names" value="Submit Names">
  </div>


</form>
